<div class="mt-4" [formGroup]="checkoutForm">
    <div class="row">
        <div class="form-group col-12" formGroupName="paymentForm">
            <!-- Payment Method Selection -->
            <div class="mb-4">
                <h4>Select Payment Method</h4>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" formControlName="paymentMethod" id="cardPayment" value="card">
                    <label class="form-check-label" for="cardPayment">
                        Credit/Debit Card
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="paymentMethod" id="codPayment" value="cod">
                    <label class="form-check-label" for="codPayment">
                        Cash on Delivery (COD)
                    </label>
                </div>
            </div>

            <!-- Card Payment Form -->
            <div *ngIf="checkoutForm.get('paymentForm').get('paymentMethod').value === 'card'" class="card-payment-container">
                <div class="row">
                    <div class="col-12 mb-3">
                        <app-text-input [label]="'Name on card'" formControlName="nameOnCard"></app-text-input>
                    </div>
                    <div class="col-12 mb-3">
                        <label>Card Number</label>
                        <div #cardNumber class="form-control py-3"></div>
                        <ng-container *ngIf="cardErrors">
                            <span class="text-danger">{{cardErrors}}</span>
                        </ng-container>
                    </div>
                    <div class="col-6 mb-3">
                        <label>Expiry Date</label>
                        <div #cardExpiry class="form-control py-3"></div>
                    </div>
                    <div class="col-6 mb-3">
                        <label>CVC</label>
                        <div #cardCvc class="form-control py-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Back to Review
    </button>
    <button 
        [disabled]="loading || checkoutForm.get('paymentForm').invalid || 
                   (checkoutForm.get('paymentForm').get('paymentMethod').value === 'card' && 
                   (!cardNumberValid || !cardExpiryValid || !cardCvcValid))" 
        class="btn btn-primary" 
        (click)="submitOrder()">
        Submit order <i class="fa fa-angle-right"></i>
        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
    </button>
</div>